import os
import sys

BASE_DIR = 
os.environ['DJANGO_SETTINGS_MODULE'] = 'inspire.settings.production'

os.environ['DJANGO_CONFIGURATION'] = 'Production'
os.environ['SECRET_KEY'] = 'RANDOM_SECRET_KEY_HERE'
os.environ['DJANGO_AWS_ACCESS_KEY_ID'] = 'YOUR_AWS_ID_HERE'
os.environ['DJANGO_AWS_SECRET_ACCESS_KEY'] = 'YOUR_AWS_SECRET_ACCESS_KEY_HERE'
os.environ['DJANGO_AWS_STORAGE_BUCKET_NAME'] = 'YOUR_AWS_S3_BUCKET_NAME_HERE'


activate_this = '/home/ubuntu/inspire/venv/bin/activate_this.py'
execfile(activate_this, dict(__file__=activate_this))
sys.path.insert(0, '/home/ubuntu/inspire')

from django.core.wsgi import get_wsgi_application
application = get_wsgi_application()