{% extends "base.html" %}
{% block content %}
<!-- BEGIN PAGE SPINNER -->
        <div ng-spinner-bar class="page-spinner-bar">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
        <!-- END PAGE SPINNER -->
        <!-- BEGIN HEADER -->
        <div data-ng-include="'tpl/header'" data-ng-controller="HeaderController" class="page-header navbar navbar-fixed-top"> </div>
        <!-- END HEADER -->
        <div class="clearfix"> </div>
        <!-- BEGIN CONTAINER -->
        <div class="container">
            <div class="page-container">
                <!-- BEGIN SIDEBAR -->
                <div data-ng-include="'tpl/sidebar'" data-ng-controller="SidebarController" class="page-sidebar-wrapper"> </div>
                <!-- END SIDEBAR -->
                <div class="page-content-wrapper">
                    <div class="page-content">
                        <!-- BEGIN STYLE CUSTOMIZER(optional) -->
                        <!-- END STYLE CUSTOMIZER -->
                        <!-- BEGIN ACTUAL CONTENT -->
                        <div ui-view class="fade-in-up"> </div>
                        <!-- END ACTUAL CONTENT -->
                    </div>
                </div>
                <!-- BEGIN QUICK SIDEBAR -->
                <a href="javascript:;" class="page-quick-sidebar-toggler">
                    <i class="icon-login"></i>
                </a>
                <div data-ng-include="'views/quick-sidebar'" data-ng-controller="QuickSidebarController" class="page-quick-sidebar-wrapper"></div>
                <!-- END QUICK SIDEBAR -->
            </div>
            <!-- BEGIN FOOTER -->
            <div data-ng-include="'tpl/footer'" data-ng-controller="FooterController" class="page-footer"> </div>
            <!-- END FOOTER -->
        </div>
        <!-- END CONTAINER -->
        <div class="quick-nav-overlay"></div>
        <!-- END QUICK NAV -->
{% endblock %}