{% extends "registration/base.html" %}
{% block content %}

 <form class="forget-form" action="." method="post">
                {% csrf_token %} 
                <h3>Forget Password ?</h3>
                <p> Enter your e-mail address below to reset your password. </p>
                <div class="form-group">
                    <div class="input-icon">
                        <i  class="fa fa-envelope"></i>
                        <input class="form-control placeholder-no-fix" type="email" autocomplete="off" placeholder="Email" name="email" required id="id_email" maxlength="254" aria-required="true"/></div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn green pull-right"> Submit </button>
                </div>
        
</form>
{% endblock %}