
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="dashboard">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="dashboard">Dashboard</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="view">View</a>
        </li>
    </ul>
</div>

<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"> Report</span> <span class="caption-subject"> {[report.name]}</span>
                </div>
                <div class="actions">
                                    <a class="btn btn-circle btn-icon-only btn-default" href="/dfp/report/download/{[report_id]}" title="Click to download the report in CSV">
                                            <i class="icon-cloud-download"></i>
                                    </a>
                                    <a class="btn btn-circle btn-icon-only btn-default" href="/dfp/report/{[report_id]}?action=refresh" title="Click to refresh the report data">
                                            <i class="icon-refresh"></i>
                                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                <div class="font-dark col-md-6">
                    <span class="caption-subject bold uppercase"> DFP Date: </span> <span class="caption-subject"> {[report.dateRange]}</span>
                </div>
                </div>

                <div class="row">
                <div class="font-dark col-md-6">
                    <span class="caption-subject bold uppercase"> AWS Date: </span> <span class="caption-subject">  Last 30 Days</span>
                </div>
                </div>
                <table class="table table-striped table-bordered table-hover order-column">
                    <thead>
                        <tr>
                            <th ng-repeat="header in report.headers"> {[header]}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX" ng-repeat="row in report.rows">
                            <td ng-repeat="value in row track by $index">{[value]}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS -->
<!-- END MAIN JS -->